<div class="b-img">
    <div class="row">
        <nav class="navbar navbar-expand-md headings d-flex">
            <div class="container-fluid">
                <div class="col-12 col-sm-1 col-md-3 col-lg-3 col-xl-4">
                    <div class="nav-item home active">
                        <a class="nav-link" href="#">maybe<i class="fa fa-home text-danger"
                                aria-hidden="true"></i>home</a>
                    </div>
                </div>

                <div class="col-12 col-sm-9 col-md-6 col-lg-6 col-xl-5">
                    <div class="head-mid" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Our Partner</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Why Maybe@Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Contact US</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <div class="btn-login custom-dropdown">
                        <div class="loginlogo ">
                            <div class="btn dropdown-toggle text-white">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                            </div>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Login</a>
                                <a class="dropdown-item" href="#">Forgot Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Create Account</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-1 col-md-2 col-lg-2 col-xl-2">
                    <div class="btn-register register-dropdown">
                        <div class="Registerlogo">
                            <div class="btn text-white dropdown-toggle">
                                <i class="fa fa-user-circle" aria-hidden="true"></i> Register
                            </div>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Sign up</a>
                                <a class="dropdown-item" href="#">Terms and Conditions</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="bg-banner">
                    <h1 class="d-flex justify-content-center body-text text-white">
                        maybe<i class="fa fa-home text-danger" aria-hidden="true"></i>home
                    </h1>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 mx-auto">
                <div class="text-center para-text text-white">
                    <p>
                        The real estate platform that allows you to

                        try out your property before buying it</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="text-center">
                    <button class="text-white border-0  try-btn">I want to try</button>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="bottom-text text-white d-flex justify-content-center">
                    You'll feel really good at home
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="input-icons">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-container place">
                        <div class="icon-container">
                            <i class="fa-solid fa-location-dot icon"></i>
                        </div>
                        <input class="input-field" type="text" placeholder="Where are you looking for?*">
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-3">
                    <div class="input-container property">
                        <div class="icon-container">
                            <i class="fa fa-building icon"></i>
                        </div>
                        <input class="input-field" type="text" placeholder="2 Type(s) of Property(s)">
                    </div>
                </div>
                <div class="col-12  col-lg-4 col-xl-3">
                    <div class="input-container budget">
                        <div class="icon-container">
                            <i class="fa fa-eur icon" aria-hidden="true"></i>
                        </div>
                        <input class="input-field" type="number" placeholder="Budget">
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-1">
                    <div class="btn-group cust-dropdown">
                        <button type="button" class="btn text-white border-0" data-bs-toggle="dropdown"
                            data-bs-placement="bottom" aria-expanded="true">
                            Advanced:
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Villas</a></li>
                            <li><a class="dropdown-item" href="#">Apartments</a></li>
                            <li><a class="dropdown-item" href="#">Independent House</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12  col-lg-4 col-xl-2">
                    <button class="btn-search border-0 text-white">Search</button>
                </div>
            </div>
        </div>

    </div>

</div>