<div class="contactpage w-100">

  <div class="header d-flex mt-5 w-100">
    <div class="row">
      <div class="col-6">
    <p class="text-white mt-3 question">Questions</p>
    </div>
    <div class="col-6">
    <button class="text-dark border-0 mt-3 mb-3 contact">Contact us</button>
    </div>
    </div>
  </div>


   <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card border-0 card-space">     
       <div class="card-body">
              <h5 class="card-title text-white">maybe<i class="fa fa-home text-danger" aria-hidden="true"></i>home</h5>
              <div class="text-home">
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> 11 rue chalgrin, 75116 Paris</p>
                <p><i class="fa-solid fa-envelope"></i> contact@maybeathome.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +33 09.75.91.68.90</p>
              </div>
            </div>
          </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card border-0 card-space">
            <div class="card-body"> 
              <h5 class="card-title text-white">Explore</h5>
              <div class="card-text">
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Home</p>
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Our Partner</p>
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Why Maybe@Home</p>
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Maybe@Home team</p>
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Contact us</p>
              </div>
        </div>
          </div>
      </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card border-0 card-space">
            <div class="card-body">
              <h5 class="card-title text-white">Policies</h5>
              <div class="card-text">
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Private Policy</p>
                <p><i class="fa fa-caret-right" aria-hidden="true"></i> Terms and conditions</p>
                <strong class="text-white">Follow us on social networks</strong>
                <div class="icons">
                <i class="fa-brands fa-facebook text-primary"></i>
                <i class="fa-brands fa-square-twitter text-primary"></i>
                <i class="fa-brands fa-linkedin text-primary"></i>
                <i class="fa-brands fa-square-instagram insta"></i>
                <i class="fa-brands fa-youtube text-danger"></i>
                <i class="fa-brands fa-tiktok"></i>
                </div>
              </div>
    
            </div>
          </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card border-0 card-space">
            <div class="card-body">
             <input type="" class="bg-primary border-0 w-75">
             <input type="" class="bg-warning border-0 w-75">
              <p class="card-text mt-3 text-white">
                Maybe@Home is Particularly sensitive to the condition of Ukrainian Children. In order to 
                help the children, we will donate $50 to UNICEF for each contact signed between Maybe@Home
                and a real estate company. Together, let's fight to give the children of Ukrainian the future they should have.
                To learn more about UNICEF's actions or to make a donatio, click on the flag.
              </p>
            </div>
          </div>
          </div>

        </div>
   </div>

      <div class="col-12">
        <hr>
        <p class="text-center mb-0">@2023 MAYBEATHOME ALL RIGHTS RESERVERED. All the brands rights mentioned belong to their respective owners.</p>
      </div>
</div>












